body {
    background:url(http://i.hizliresim.com/68k46P.png)center center fixed no-repeat; background-size:cover; margin:0; padding:0; background-color: #2F3242;}
  
        .m-red {background:#EF3B3A; color:#fff; text-decoration:none;}

        .m-nav {width:100%; min-width:600px; height:55px; display:inline-block; text-align:right;}

        .m-nav input[type="text"] {float:right; background:rgba(255,255,255,0.3); border:none; padding:8px; outline:none; color:#fff; margin-top:10px; margin-right:10px; font-family:"Roboto",Arial sans-serif; height:20px; display:inline-block; transition:0.5s ease all; width:30%; min-width:200px; max-width:600px;}

        .m-nav input[type="text"]:hover {background:rgba(255,255,255,0.5); transition:0.5s ease all;}

        .m-nav input[type="text"]:focus {background:#fff; color:#333; transition:0.5s ease all;}

        .m-nav input::-webkit-input-placeholder {color:rgba(255,255,255,0.6); font-family:"Roboto",Arial sans-serif;}

        .m-nav input::-moz-input-placeholder {color:rgba(255,255,255,0.6); font-family:"Roboto",Arial sans-serif;}

        .m-nav input:-moz-input-placeholder {color:rgba(255,255,255,0.6); font-family:"Roboto",Arial sans-serif;}

        .m-nav input::-o-input-placeholder {color:rgba(255,255,255,0.6); font-family:"Roboto",Arial sans-serif;}

        .m-nav li {list-style:none; float:left; display:inline-block;}

        .m-nav li a {text-decoration:none; padding:6px 9px; transition:0.70s ease all; margin-top:7px; margin-left:7px; display:inline-block; cursor:pointer;}

        .m-nav li a:hover {background:rgba(255,255,255,0.3); transition:0.70s ease all;}
  
    .buttons-con1 .action-link-wrap1 {
    margin-top: 40px;
}
  
.buttons-con1 .action-link-wrap1 a {
    background: #68c950;
    padding: 8px 25px;
    border-radius: 4px;
    color: #FFF;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.3s linear;
    cursor: pointer;
    text-decoration: none;
    margin-right: 10px;
    font-family: Roboto;
}
  
.buttons-con1 .action-link-wrap1 a:hover {
    background:rgba(255,255,255,0.3); 
    transition:0.70s ease all;
    color: #fff;
}
  
.material-icons{
    color: white;
}
  
.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 80px;
    color: #5A5C6C;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%; 
    margin-left: -40px;
    margin-top: 20px;
    font-family: Roboto;
    font-size: 14px;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    background:rgba(255,255,255,0.3); 
    color: #fff;
}
  
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%; 
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(255,255,255,0.3) transparent;
    color: #fff;
}