<!DOCTYPE html>
<html ng-app="AlgebraSite">
<head>
	<title>dashboard</title>
	<style type="text/css">
		#menu{
			position: fixed;
			right: 0em;
			top:0em;
			margin: 1em;
		}
		#logo{
			position: fixed;
			left:1em;
			top:0em;
			font-family: Courier;
			font-size: 2.2em;
			color: white;
			margin: 0.5em;
		}
		span{
			font-family: Courier;
			font-size: 1.4em;
			color: white;

		}
		span:hover{ 
    		text-decoration: underline;
		}
		a{
			text-decoration:none; 
		}
		body {
		    background-color: black;
		}
	</style>
</head>
<body>
<div id="logo">Math Website</div>
<div id = "menu">
	<a href="/SolveEquations"><span id="Solve">Solve Equations</span></a>&nbsp;&nbsp;&nbsp;
	<a href="/Quiz" ><span id="Quiz">Take Quiz</span></a>&nbsp;&nbsp;&nbsp;
	<a href=""><span id="Help">Help</span></a>&nbsp;&nbsp;&nbsp;
	<a href=""><span id="Contact">Contact</span></a>&nbsp;&nbsp;
</div>
</body>
</html>